[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Stephan Koenig
	email = stephan.koenig@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAQpxAxU27JhB5GdDRLLU9Qorp8FLZSOvhBPD2eaMIHS
[core]
	editor = code --wait
	excludesfile = /Users/stephan/.gitignore_global
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = upstream
	autoSetupRemote = true
[merge]
	conflictstyle = diff3
[credetial]
	helper = osxkeychain
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	ff = only
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
	format = ssh
[tag]
	forceSignAnnotated = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers
